    body {
        font-family: 'Poppins', sans-serif;
        background-color: #00000063;
    }

     /* INICIO DE TIENDA */
    .hero {
        background-image: url(https://st4.depositphotos.com/1001877/41570/i/450/depositphotos_415702008-stock-photo-whey-protein-can-barbell-shaker.jpg);
        box-shadow: 0 10px 30px black;
        background-size:cover;
        margin-top: 4rem;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px #000;
    }
    h2{
        font-weight: 700;
    }
    .hero h1 {
        font-size: 4rem;
        padding: 15px;
        font-family:  'Poppins','Montserrat' sans-serif;
        font-weight: 900;
        color: white;

    }
    .hero p{
        border-radius: 15px;
        padding: 15px;
    }

     /* PRODUCTOS */
    .product-card img {
        height: 200px;
        border-radius: 20px;
        object-fit: cover;
    }
    .product-card{
        box-shadow: 0 10px 30px rgb(97, 65, 6);
        border-radius: 20px;
        transition: all 0.8s;
        padding: 1rem;
    }
     .product-card:hover{
        transform: translateY(-10px);
        box-shadow: 0 10px 30px rgb(163 43 43);
       
    }
    .card-body {
        text-align: center;
    }
    a.btn{
        padding-left: 42%;
        padding-right: 42%;
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: black;
        transition: all 0.3s;
        border: none;
    }
    a.btn:hover{
        background-color:rgb(163 43 43) !important;
        box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    }
/* Navbar estilo Canva */
    .navbar {
        background-color: rgb(0, 0, 0);
        box-shadow: 0 2px 10px rgb(97, 65, 6);
        transition: all 2s;
    }
    .navbar.scrolled {
        background-color:rgb(163 43 43) !important;
        box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    }
    
    .nav-link {
        color:white !important;
        font-weight: 600;
        margin: 0 10px;
        position: relative;
    }
    
    .nav-link:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background-color:#ffffff;
        transition: width 0.3s;
    }
    .navbar-toggler{
        background-color: white;
    }
    .nav-link:hover:after {
        width: 100%;
    }

/* Footer */
    footer {
        background-color: black;
        color: white;
        padding: 50px 0 20px;
    }
    
    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: rgba(255,255,255,0.1);
        border-radius: 50%;
        margin-right: 10px;
        transition: all 0.3s;
    }
    
    .social-icon:hover {
        background-color: var(--primary);
        transform: translateY(-5px);
    }